{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} HELLO {% endblock %}
{% block body_block %}
	<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<br>
<br>
	<h2>[单选题]</h2>
		<ul>
			在【变形文本】对话框中提供了很多种文字弯曲样式，下列选项中的（）不属于Photoshop中的弯曲样式。
			在【变形文本】对话框中提供了很多种文字弯曲样式，下列选项中的（）不属于Photoshop中的弯曲样式。
		</ul>
{% endblock %}
